NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD3fQ-uG7RUbdO1WpuSchmoASPDlWcKXsA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=szkolenia-glocksklep.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=szkolenia-glocksklep
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=szkolenia-glocksklep.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=799987811307
NEXT_PUBLIC_FIREBASE_APP_ID=1:799987811307:web:65da36f51e4f13d19bcfae
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-NNQSJWT4K9
NEXT_PUBLIC_SITE_ORIGIN=https://szkolenia.glocksklep.pl
# NEXT_PUBLIC_GSC_VERIFICATION=
