# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
.firebase

node_modules
dist
dist-ssr
.next
coverage
*.local
functions/lib

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.env
.env.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
